/* Generated: Rouge Base16 dark theme, scoped to .code-highlight. */
.code-highlight table td { padding: 5px; }
.code-highlight table pre { margin: 0; }
.code-highlight, .code-highlight .w {
  color: #d8d8d8;
  background-color: #181818;
}
.code-highlight .err {
  color: #181818;
  background-color: #ab4642;
}
.code-highlight .c, .code-highlight .ch, .code-highlight .cd, .code-highlight .cm, .code-highlight .cpf, .code-highlight .c1, .code-highlight .cs {
  color: #585858;
}
.code-highlight .cp {
  color: #f7ca88;
}
.code-highlight .nt {
  color: #f7ca88;
}
.code-highlight .o, .code-highlight .ow {
  color: #d8d8d8;
}
.code-highlight .p, .code-highlight .pi {
  color: #d8d8d8;
}
.code-highlight .gi {
  color: #a1b56c;
}
.code-highlight .gd {
  color: #ab4642;
}
.code-highlight .gh {
  color: #7cafc2;
  background-color: #181818;
  font-weight: bold;
}
.code-highlight .ge {
  font-style: italic;
}
.code-highlight .ges {
  font-weight: bold;
  font-style: italic;
}
.code-highlight .gs {
  font-weight: bold;
}
.code-highlight .k, .code-highlight .kn, .code-highlight .kp, .code-highlight .kr, .code-highlight .kv {
  color: #ba8baf;
}
.code-highlight .kc {
  color: #dc9656;
}
.code-highlight .kt {
  color: #dc9656;
}
.code-highlight .kd {
  color: #dc9656;
}
.code-highlight .s, .code-highlight .sb, .code-highlight .sc, .code-highlight .dl, .code-highlight .sd, .code-highlight .s2, .code-highlight .sh, .code-highlight .sx, .code-highlight .s1 {
  color: #a1b56c;
}
.code-highlight .sa {
  color: #ba8baf;
}
.code-highlight .sr {
  color: #86c1b9;
}
.code-highlight .si {
  color: #a16946;
}
.code-highlight .se {
  color: #a16946;
}
.code-highlight .nn {
  color: #f7ca88;
}
.code-highlight .nc {
  color: #f7ca88;
}
.code-highlight .no {
  color: #f7ca88;
}
.code-highlight .na {
  color: #7cafc2;
}
.code-highlight .m, .code-highlight .mb, .code-highlight .mf, .code-highlight .mh, .code-highlight .mi, .code-highlight .il, .code-highlight .mo, .code-highlight .mx {
  color: #a1b56c;
}
.code-highlight .ss {
  color: #a1b56c;
}
